<a href="https://colab.research.google.com/github/kingqueenki/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.To-Do List를 작성하시오.
 -2023년 10월 19일 조윤형
 - (1) 9:20 도서관에서 책 빌리기
 - (2) 11:10 컴퓨팅적 사고와 기초코딩 수업
 - (3) 13:00 점심식사
 - (4) 14:10 교양수업
 - (5) 16:00 파이썬 공부 및 레포트 작성
 - (6) 17:40 저녁식사 및 집안일 돕기
 - (7) 19:00 LOL하기

In [ ]:
print("To-do List") # "To-do List"라는 제목을 출력합니다.
print("(1) 9:20 도서관에서 책 빌리기") # 그 다음 각각의 일정을 번호와 함께 출력합니다.
print("(2) 11:10 컴퓨팅적 사고와 기초코딩 수업")
print("(3) 13:00 점심식사")
print("(4) 14:10 교양수업")
print("(5) 16:00 파이썬 공부 및 레포트 작성")
print("(6) 17:40 저녁식사 및 집안일 돕기")
print("(7) 19:00 LOL하기")

To-do List
(1) 9:20 도서관에서 책 빌리기
(2) 11:10 컴퓨팅적 사고와 기초코딩 수업
(3) 13:00 점심식사
(4) 14:10 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17:40 저녁식사 및 집안일 돕기
(7) 19:00 LOL하기

2. 인사말 출력하기
 - 식사하셨습니까?형님

In [ ]:
print("식사하셨습니까 형님?") #"식사하셨습니까 형님? " 이라는 메시지를 출력합니다.

식사하셨습니까 형님?

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
 - 박보검: 90점
 -션: 92점
 -도룡용: 80점
 -차은우: 99점
 -국어점수 순위
 -1등 차은우
 -2등 션
 -3등 박보검
 -4등 도룡용

In [ ]:
n1=(input("박보검의 국어점수:")) # 사용자로부터 박보검의 국어 점수를 입력받습니다.
n2=(input("션의 국어점수:")) # 사용자로부터 션의 국어 점수를 입력받습니다.
n3=(input("도룡용의 국어점수:")) # 사용자로부터 도룡용의 국어 점수를 입력받습니다.
n4=(input("차은우의 국어점수:")) # 사용자로부터 차은우의 국어 점수를 입력받습니다.
print("1등 차은우",n4, "점") # 각 학생의 점수를 출력합니다. 하지만, 점수를 비교하여 등수를 매기는 로직이 없습니다
print("2등 션", n2, "점")
print("3등 박보검",n3, "점")
print("4등 도룡용", n1,"점")

박보검의 국어점수:90
션의 국어점수:92
도룡용의 국어점수:80
차은우의 국어점수:99
1등 차은우 99 점
2등 션 92 점
3등 박보검 80 점
4등 도룡용 90 점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1=int(input("n1의 값을 입력하시오:")) # 사용자로부터 n1의 값을 정수로 입력받습니다.
n2=int(input("n2의 값을 입력하시오:")) # 사용자로부터 n2의 값을 정수로 입력받습니다.
total=n1+n2 # 입력받은 두 수의 합계를 계산하여 total 변수에 저장합니다.
average=total/2 # total을 2로 나누어 평균을 계산하고, 이를 average 변수에 저장합니다.
print(average) # 평균값을 출력합니다.
print(total) # 합계를 출력합니다.

n1의 값을 입력하시오:80
n2의 값을 입력하시오:100
90.0
180